# This is the GITHUB URL where Kubernetes manifests are stored.
# If you forked this repo, you will need to update this.
repo_url: "https://github.com/mlops-on-kubernetes/Book"
# Tags to apply to AWS resources
tags: 
  env: "dev"
  project: "modern-engg"
region: "us-west-2"
# The name of the EKS cluster you are installing this under.
cluster_name: "modern-engineering"

domain_name: modern-engg-95fac97f69d15da2.elb.us-west-2.amazonaws.com

# If set to true, we will store secrets to AWS Secrets Manager, then sync it to the cluster using External Secrets Operator.
enable_external_secret: true

# If set to true will apply flux and tofu manifests to allow deploying terraform resources from backstage.
enable_terraform_integrations: true

# If set to true will apply spark and ray operators to allow deploying of aiml applications from backstage.
enable_aiml_integrations: true
