# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore transient lock info files created by terraform apply
.terraform.tfstate.lock.info

# Terraform build files
.terraform.lock.hcl
